
{%- liquid

    assign container = section.settings.container
    assign remove_container_space = section.settings.remove_container_space
 
    
    assign autoplay = section.settings.autoplay_enabled
    assign autoplay_timeout = section.settings.autoplay_timeout | times: 1000.0
      
    assign enable_dot = section.settings.enable_dot
    assign arrow_enabled = section.settings.arrow_enabled
    assign columns_desktop = section.settings.columns_desktop
    assign columns_tab = section.settings.columns_tab
    assign columns_mobile = section.settings.columns_mobile

-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{%- endstyle -%}
<section class="middle section-{{ section.id }}-padding" id="section_{{ section.id }}" style="background: {{section.settings.background-color}}">
	<div class="{{ container }} {%if remove_container_space != false %} p-0 {% endif %}" style="overflow: hidden;'>
        <div class="row justify-content-center align-items-center {%if remove_container_space != false %} no-gutters {% endif %}">
          <div class="col-12">
          <slideshows-component>
            <ul class="slick review-slider" id="Slider-{{ section.id }}" data-slick='{
              "dots": {{ enable_dot }}, 
              "autoplay": {{ autoplay }}, 
              "infinite": true, 
              "slidesToShow": {{columns_desktop}}, 
              "slidesToScroll": 1, 
              "fade": false,
              "cssEase": "linear", 
              "arrows": {{arrow_enabled}}, 
              "autoplaySpeed": {{ autoplay_timeout }}, 
              "pauseOnHover": false,
              "centerMode": true,
              "responsive": [
                  {
                    "breakpoint": 1024,
                    "settings": {
                   
                      "slidesToShow":{{columns_tab}}
                    }
                  },
                  {
                    "breakpoint": 767,
                    "settings": {
             
                      "slidesToShow":{{columns_mobile}}
                    }
                  }
                ]
              }'>
                      {%- for block in section.blocks -%}
                          {%- if block.type == 'slider_image' -%}
                          {%- liquid

                              assign image = block.settings.slide_image

                            %}
        

                      <li data-fancybox="gallery" href="{{ image | img_url: 'master' }}" class="faq-each-slide-item review-item block-{{block.id}} slideshow_slide_{{block.id}}" {{ block.shopify_attributes }}>
                          <div class="review-wrapper">
                            <div class="review-author-box">
                              <div class="reeview-img-wrap">
                                  {% if image != blank %}
                                      <img  class="img1" src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" />
                                      {% else %}
                                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light' }}
                                  {% endif %}
                            
                              </div>
                            </div>
                          </div>
                      </li>
                  {%- endif -%}
                  {%- endfor -%}
                  </ul>
                  </slideshows-component>
                  {% for block in section.blocks %}
                  {% if block.type == 'button_text' %}
                  {% if block.settings.button_text != blank %}
                    <div class="button_wrapper">
                      <a href="{{block.settings.button_url}}">{{ block.settings.button_text }} <span><img src="{{ 'arrow-icon.svg' | asset_url }}"></span></a>
                    </div>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
          </div>
        </div>
	</div>
  </section>

<style>
.review-slider{
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}
.reeview-img-wrap img{
  width: 100% !important;
  border: 2px solid #030405;
  border-radius: 20px;
}
.review-item{
  margin-right: 20px;
}
.button_wrapper {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}
.button_wrapper a{
  font-size: 38px;
  font-weight: bold;
}
.button_wrapper {
    text-align: right;
    margin-top: 43px;
    margin-right: 20px;
}
.faq-each-slide-item{
  cursor: pointer;
}
</style>

{% schema %}
  {
    "name": "FAQ Slider",
    "class": "faq_slider",
    "settings": [
      {
        "type": "color",
        "id": "background-color",
        "label": "Section Background",
        "default": "#eadcf0"
      },
        {
        "type": "select",
        "id": "container",
        "label": "Section Width",
        "options": [
            {"label": "Default", "value": "container"},
            {"label": "Full wide", "value": "container-fluid"}
        ],
        "default": "container"
    },
    {
        "type": "checkbox",
        "id": "remove_container_space",
        "label": "Remove Container Space",
        "default": false
    },
        {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "enable_dot",
      "label": "Enable Dots",
      "default": false
    },
    {
        "type": "checkbox",
        "id": "arrow_enabled",
        "label": "Enable Arrow Button",
        "default": false
        },
        {
        "type": "checkbox",
        "id": "autoplay_enabled",
        "label": "Enable Autoplay",
        "default": false
        },
        {
        "type": "range",
        "id": "autoplay_timeout",
        "label": "Change Slides Every",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 7,
        "unit": "s"
       },
       {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default":2,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "range",
        "id": "columns_tab",
        "min": 1,
        "max": 4,
        "step": 1,
        "default":1,
        "label": "Number of columns on Tablet"
      },
      {
        "type": "range",
        "id": "columns_mobile",
        "min": 1,
        "max": 4,
        "step": 1,
        "default":1,
        "label": "Number of columns on Mobile"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
          "type": "header",
          "content": "Top Bottom Padding (Mobile)"
        }, {
          "type": "range",
          "id": "padding_top_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 30
        }, {
          "type": "range",
          "id": "padding_bottom_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 30
        }
    ],
    "blocks":[
      {
        "type": "slider_image",
        "name": "Slider Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide_image",
            "label": "Slide Image"
          }
        ]
      },
      {
        "type": "button_text",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "CHIC&LOVE socialize"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Slider",
        "blocks": [
          {
            "type": "slider_image"
          },
          {
            "type": "slider_image"
          },
          {
            "type": "slider_image"
          },
          {
            "type": "slider_image"
          },
          {
            "type": "slider_image"
          },
          {
            "type": "slider_image"
          },
          {
            "type": "button_text"
          }
        ]
      }
  ] 
  }
{% endschema %}