<link rel="stylesheet" href="{{ 'section-image-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
	assign autoplay = section.settings.autoplay_enabled
	assign autoplay_timeout = section.settings.autoplay_timeout | times: 1000.0
    
	assign enable_dot = section.settings.enable_dot
	assign slider_height = section.settings.slider_height
	assign arrow_enabled = section.settings.arrow_enabled


-%}



<slideshows-component  class=" section_{{ section.id }}" id="section_{{ section.id }}">
	<div class="main-slider sslider banner-{{slider_height}}  slick" id="Slider-{{ section.id }}"   data-slick='{
		"dots": {{ enable_dot }}, 
		"autoplay": {{ autoplay }}, 
		"infinite": true, 
		"slidesToShow": 1, 
		"slidesToScroll": 1, 
		"fade": false,
		"cssEase": "linear", 
		"arrows": {{arrow_enabled}}, 
		"autoplaySpeed": {{ autoplay_timeout }}, 
		"pauseOnHover": false
		}'>	

  {%- for block in section.blocks -%}
		


			{%- liquid
				assign content_position = block.settings.content_position
				assign content_alignment = block.settings.content_alignment
				assign image = block.settings.image
				assign image_sm = block.settings.image_sm
				assign subheading = block.settings.subheading
				assign heading = block.settings.heading
				assign text = block.settings.text

		
				assign heading_font_size_desk = block.settings.heading_font_size_desk
				assign heading_lh_desk = block.settings.heading_lh_desk
				assign heading_font_size_tab = block.settings.heading_font_size_tab
				assign heading_lh_tab = block.settings.heading_lh_tab
				assign heading_font_size_mob = block.settings.heading_font_size_mob
				assign heading_lh_mob = block.settings.heading_lh_mob
				assign heading_text_transfrom = block.settings.heading_text_transfrom
				assign heading_font_weight = block.settings.heading_font_weight



				assign des_font_size = block.settings.des_font_size
				assign des_lh = block.settings.des_lh
				assign des_font_size_tab = block.settings.des_font_size_tab
				assign des_lh_tab = block.settings.des_lh_tab
				assign des_font_size_mob = block.settings.des_font_size_mob
				assign des_lh_mob = block.settings.des_lh_mob


				assign btn_label = block.settings.btn_label
				assign btn_link = block.settings.btn_link
		
				assign button_style = block.settings.button_style
				assign button_icon = block.settings.button_icon
				assign overlayimage = block.settings.overlayimage
	
				assign btn_icon = ''
				if button_icon == 'with_icon'
                 assign icon_class = "icon-active" 
				assign btn_icon = '<span class="ml-4"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve"> <polygon points="476.213,238.105 400,161.893 400,223.106 0,223.106 0,253.106 400,253.106 400,314.32 "/><g></g> <g>  </g>  <g> </g> <g> </g>  <g>  </g> <g></g>    <g>   </g> <g>   </g>  <g>  </g> <g>  </g> <g>   </g>  <g> </g>  <g>  </g>     <g></g>  <g></g></svg></span>'
				 endif
				 

				 

				assign heading_color = block.settings.heading_color
				assign text_color = block.settings.text_color
					
				assign primary_button_color = block.settings.primary_button_color
				assign primary_button_bg_color = block.settings.primary_button_bg_color
				assign primary_button_border_color = block.settings.primary_button_border_color
				
				assign primary_hover_button_color = block.settings.primary_hover_button_color
				assign primary_hover_button_bg_color = block.settings.primary_hover_button_bg_color
				assign primary_hover_button_border_color = block.settings.primary_hover_button_border_color



				assign secondary_button_color = block.settings.secondary_button_color
				assign secondary_button_bg_color = block.settings.secondary_button_bg_color
				assign scondary_button_border_color = block.settings.scondary_button_border_color
				
				assign secondary_hover_button_color = block.settings.secondary_hover_button_color
				assign secondary_hover_button_bg_color = block.settings.secondary_hover_button_bg_color
				assign secondary_hover_button_border_color = block.settings.secondary_hover_button_border_color

				assign enable_custom_color = block.settings.enable_custom_color


       
	
				assign heading_animation = block.settings.heading_animation
                assign heading_delay = block.settings.heading_delay

				assign des_animation = block.settings.des_animation
				assign des_delay = block.settings.des_delay

				assign btn_animation = block.settings.btn_animation
				assign btn_delay = block.settings.btn_delay
			
			


            if block.settings.video_url.type == "youtube"
                assign videotype = "youtube"
            elsif block.settings.video_url.type == "vimeo"
                assign videotype = "vimeo"
            else
                assign videotype = "video"
            endif

    
				unless image
				  capture loop
					cycle 1, 2
				  endcapture
	
				  assign lifestyle = 'lifestyle-' | append: loop
				endunless


			if block.settings.mb_image != blank
            	assign dsizes = '1296,1512,2000,2450,3000,3600'
            else
        		assign dsizes = ''
            endif    
            assign msizes = '375,540,780,1080'


			-%}

			<div  class="slider-item slideshow_slide_{{block.id}} block-{{block.id}}" data-video-type="{{ videotype  }}"   data-video-start="1"  data-overlay="{{overlayimage}}"  {{ block.shopify_attributes }}>


				    {% if block.type == 'slide' and block.settings.image != blank %}

				
					<div class="ss_img lazyload js{% if block.settings.mb_image != blank %} hidden-xs-down {% else %}{% if forloop.first %} lazypreload{% endif %}{% endif %}"
					 data-bgset="{% render 'bgset', image: block.settings.image, sizes: dsizes %}" data-sizes="auto" data-parent-fit="contain"
					 style="background-position:{{ block.settings.alignment }};{% unless forloop.first %}background-image:url('{{ block.settings.image | img_url: '2000x' }}');{% endunless %}">
					</div>

					{% if block.settings.mb_image != blank %}
					<div class="ss_img lazyload{% if forloop.first %} lazypreload{% endif %} js hidden-sm-up"
						 data-bgset="{% include 'bgset', image: block.settings.mb_image, sizes: msizes %}" data-sizes="auto" data-parent-fit="contain"
						 style="background-position:{{ block.settings.alignment }};{% unless forloop.first %}background-image:url('{{ block.settings.mb_image | img_url: '780x' }}');{% endunless %}">
					</div>
					  {% endif %}

					
                  {% elsif block.type == 'video' and block.settings.video_url != blank %}
                    {% if block.settings.video_url.type == "youtube" %}

                        <iframe class="embed-player slide-media" width="980" height="520" src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist={{block.settings.video_url.id}}&start=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 


                        {% comment %} <iframe class="embed-player slide-media" width="980" height="520" src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist={{block.settings.video_url.id}}&playsinline=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> {% endcomment %}
                    {% elsif block.settings.video_url.type == "vimeo" %}
                        <iframe class="embed-player slide-media" src="https://player.vimeo.com/video/{{block.settings.video_url.id}}?api=1&byline=0&portrait=0&title=0&background=1&mute=1&loop=1&autoplay=0&id={{block.settings.video_url.id}}" width="980" height="520" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}
                     {% elsif block.type == 'video' and block.settings.mp4url != blank %}
                      <video class="slide-video slide-media" loop muted preload="metadata" playsinline>
                        <source src="{{block.settings.mp4url}}" type="video/mp4" />
                    </video>
                  
					  {% else %}
					  <div class="ss_img js">
						  <div class="ph_bg">{% capture current %}{% cycle 1, 2 %}{% endcapture %}{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
					  </div>
				  {% endif %}

			
               <div class="banner-absolute absolute-content d-flex w-100 {{ content_alignment }} {{ content_position }}  {%if content_position contains "align-items-end"%} bottom_possion_padding {%endif%}">
				 <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="banner-content">
								<!-- Slide Title -->
								<div class="home-slider-desc">
								
										
										{% if heading != blank %}
										<h1 class="heading  animated text-{{heading_text_transfrom}}" data-animation-in="{{heading_animation}}" data-delay-in="0.{{heading_delay}}"  >{{heading}}</h1>
										{% endif %}
										{% if text != blank %}
										<div class="description  animated" data-animation-in="{{des_animation}}" data-delay-in="0.{{des_delay}}" >{{text}}</div>
										{% endif %}
									

									{% if btn_label != blank %}
									<a href="{{btn_link}}" class="btn btn--{{button_style}} animated {{icon_class}}" data-animation-in="{{btn_animation}}" data-delay-in="0.{{btn_delay}}">{{btn_label}} {{btn_icon}}</a>
									{% endif %}

								</div>
								<!-- Slide Title / End -->
							</div>
						</div>
					</div>
			 	 </div>
			 </div>

					<style>
					
						 .block-{{block.id}} .banner-content .heading{
                           font-size: {{heading_font_size_desk | append: 'px'}};
                           line-height: {{ heading_lh_desk | append: 'px'}};
						   font-weight: {{heading_font_weight}};
						}

						.block-{{block.id}} .banner-content .description{
							font-size: {{des_font_size | append: 'px'}};
							line-height: {{ des_lh | append: 'px'}};
						 }

						@media only screen and (max-width: 992px) {

							.block-{{block.id}} .banner-content .heading{
								font-size: {{heading_font_size_tab | append: 'px'}};
								line-height: {{ heading_lh_tab | append: 'px'}};
							 }

							 .block-{{block.id}} .banner-content .description{
								font-size: {{des_font_size_tab | append: 'px'}};
								line-height: {{ des_lh_tab | append: 'px'}};
							 }


						}
						@media only screen and (max-width: 767px) {
							.block-{{block.id}} .banner-content .heading{
								font-size: {{heading_font_size_mob | append: 'px'}};
								line-height: {{ heading_lh_mob | append: 'px'}};
							 }

							 .block-{{block.id}} .banner-content .description{
								font-size: {{des_font_size_mob | append: 'px'}};
								line-height: {{ des_lh_mob | append: 'px'}};
							 }

						}


					
					{%if enable_custom_color %}
						
						.block-{{block.id}} .banner-content .heading{
							color: {{ heading_color }};
						}
						
						.block-{{block.id}} .banner-content .description{
							color: {{ text_color }};
						}

						.block-{{block.id}} .banner-content .description strong{
							color: {{ text_color }};
						}

						.block-{{block.id}} .btn--primary {
							color: {{ primary_button_color }};
							background: {{ primary_button_bg_color }};
							border: 2px solid {{ primary_button_border_color }};
						
						}

                        .block-{{block.id}} .btn--primary svg{
                            fill: {{ primary_button_color }};
                        }
						
						.block-{{block.id}} .btn--primary:hover,
						.block-{{block.id}} .btn--primary:focus,
						.block-{{block.id}} .btn--primary:not(:disabled):not(.disabled):active{
							color: {{ primary_hover_button_color }};
                            background: {{ primary_hover_button_bg_color }};
							border: 2px solid {{ primary_hover_button_border_color }};
						}

						
                        .block-{{block.id}} .btn--primary:hover svg{
                            fill: {{ primary_hover_button_color }};
                        }


						.block-{{block.id}} .btn--secondary {
							color: {{ secondary_button_color }};
							background: {{ secondary_button_bg_color }};
							border: 2px solid {{ scondary_button_border_color }};
						
						}

                        .block-{{block.id}} .btn--secondary svg{
                            fill: {{ secondary_button_color }};
                        }
						
						.block-{{block.id}} .btn--secondary:hover,
						.block-{{block.id}} .btn--secondary:focus,
						.block-{{block.id}} .btn--secondary:not(:disabled):not(.disabled):active{
							color: {{ secondary_hover_button_color }};
                            background: {{ secondary_hover_button_bg_color }};
							border: 2px solid {{ secondary_hover_button_border_color }};
						}
						
                        .block-{{block.id}} .btn--secondary:hover svg{
                            fill: {{ secondary_hover_button_color }};
                        }

						{%endif %}
					  </style>
						
			</div>

    {%- endfor -%}   

</div>
</slideshows-component>



{%- if request.design_mode -%}
<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
		{
			"type": "select",
			"id": "slider_height",
			"label": "Slider Height",
			"options": [
			  {
				"label": "Small",
				"value": "small"
			  },
			  {
				"label": "Medium",
				"value": "medium"
			  },
			  {
				"label": "Large",
				"value": "large"
			  },
			  {
				"label": "Extra Large",
				"value": "extra-large"
			  },
			  {
				"label": "Full Height",
				"value": "full-height"
			  }
			],
			"default": "medium"
		  },
      {
        "type": "header",
        "content": "Color"
        },
      {
        "type": "checkbox",
        "id": "enable_custom_color",
        "label": "Enable Custom Color",
        "default": false
      },
                {
        "type": "color",
        "id": "heading_color",
        "label": "Heading",
        "default": "#fff"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#fff"
        },
        {
        "type": "header",
        "content": "Primary Button Color"
        },
        {
        "type": "color",
        "id": "primary_button_color",
        "label": "Button Label",
        "default": "#ffffff"
        },
        {
        "type": "color",
        "id": "primary_button_bg_color",
        "label": "Button Background",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "primary_button_border_color",
        "label": "Button border",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "primary_hover_button_color",
        "label": "On hover: Button Label",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "primary_hover_button_bg_color",
        "label": "On hover: Button background",
        "default": "#FFFF00"
        },
        {
        "type": "color",
        "id": "primary_hover_button_border_color",
        "label": "On hover: Button border",
        "default": "#030405"
        },
        {
        "type": "header",
        "content": "Secondary Button Color"
        },
        {
        "type": "color",
        "id": "secondary_button_color",
        "label": "Button Label",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "secondary_button_bg_color",
        "label": "Button Background",
        "default": "#ffffff"
        },
        {
        "type": "color",
        "id": "scondary_button_border_color",
        "label": "Button border",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "secondary_hover_button_color",
        "label": "On hover: Button Label",
        "default": "#FFFF00"
        },
        {
        "type": "color",
        "id": "secondary_hover_button_bg_color",
        "label": "On hover: Button background",
        "default": "#030405"
        },
        {
        "type": "color",
        "id": "secondary_hover_button_border_color",
        "label": "On hover: Button border",
        "default": "#FFFF00"
        },
        {
        "type": "header",
        "content": "Animation"
       },
        {
        "type": "select",
        "id": "btn_animation",
        "label": "Choose Animation",
        "options": [
          {"label": "FadeInLeft", "value": "fadeInLeft"},
          {"label": "FadeInRight", "value": "fadeInRight"},
          {"label": "fadeInDown", "value": "fadeInDown"},
          {"label": "fadeInUp", "value": "fadeInUp"},
          {"label": "ZoomIn", "value": "zoomIn"},
          {"label": "SlideInDown", "value": "slideInDown"},
          {"label": "SlideInUp", "value": "slideInUp"}
        ],
        "default": "fadeInUp"
      },
      {
        "type": "range",
        "id": "btn_delay",
        "label":"Animation Delay",
        "min": 0,
        "max": 9,
        "step": 1,
        "default": 5,
        "unit": "%"
      }
    ],
    "blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Desktop Image"
				},
				{
					"type": "image_picker",
					"id": "mb_image",
					"label": "Mobile Image"
				},
				{
					"type": "range",
					"id": "overlayimage",
					"label": "Overlay On Image",
					"min": 0,
					"max": 10,
					"step": 1,
					"default": 3,
					"unit": "%"
				  },
				{
					"type": "header",
					"content": "Description"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Clinically-backed ingredients formulated to become a divine part of your everyday life.</p>",
					"info": "Don't want? Keep blank."
				},
				{
					"type": "range",
					"id": "des_font_size",
					"label": "Font Size",
					"min": 0,
					"max": 30,
					"step": 1,
					"default": 18,
					"unit": "px"
				  },
				  {
					"type": "range",
					"id": "des_lh",
					"label": "Line Height",
					"min": 0,
					"max": 40,
					"step": 1,
					"default": 30,
					"unit": "px"
				  },
				  {
					"type": "range",
					"id": "des_font_size_tab",
					"label": "Font Size (Tablet",
					"min": 0,
					"max": 30,
					"step": 1,
					"default": 16,
					"unit": "px"
				  },
				  {
					"type": "range",
					"id": "des_lh_tab",
					"label": "Line Height (Tablet)",
					"min": 0,
					"max": 40,
					"step": 1,
					"default": 24,
					"unit": "px"
				  },
				  {
					"type": "range",
					"id": "des_font_size_mob",
					"label": "Font Size (Mobile)",
					"min": 0,
					"max": 30,
					"step": 1,
					"default": 16,
					"unit": "px"
				  },
				  {
					"type": "range",
					"id": "des_lh_mob",
					"label": "Line Height (Mobile)",
					"min": 0,
					"max": 40,
					"step": 1,
					"default": 24,
					"unit": "px"
				  },
				  {
					"type": "header",
					"content": "Animation"
				 },
				  {
					"type": "select",
					"id": "des_animation",
					"label": "Choose Animation",
					"options": [
						{"label": "FadeInLeft", "value": "fadeInLeft"},
						{"label": "FadeInRight", "value": "fadeInRight"},
						{"label": "fadeInDown", "value": "fadeInDown"},
						{"label": "fadeInUp", "value": "fadeInUp"},
						{"label": "ZoomIn", "value": "zoomIn"},
						{"label": "SlideInDown", "value": "slideInDown"},
						{"label": "SlideInUp", "value": "slideInUp"}
					],
					"default": "fadeInDown"
				},
				{
					"type": "range",
					"id": "des_delay",
					"label":"Animation Delay",
					"min": 0,
					"max": 9,
					"step": 1,
					"default": 5,
					"unit": "%"
				},
				{
					"type": "header",
					"content": "Button Content"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button Style",
					"options": [
						{"label": "Primary", "value": "primary"},
						{"label": "Secondary", "value": "secondary"}
					],
					"default": "primary"
				},
				{
					"type": "select",
					"id": "button_icon",
					"label": "Button Icons",
					"options": [
						{"label": "Button With Icon", "value": "with_icon"},
						{"label": "Button Without Icon", "value": "with_not_icon"}
					],
					"default": "with_icon"
				},
				{
					"type": "text",
					"id": "btn_label",
					"label": "Button label",
					"default": "Start Shopping",
					"info": "Don't want? Keep blank."
				},
				{
					"type": "url",
					"id": "btn_link",
					"label": "Button Link",
					"default": "\/collections\/all"
				},
		
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Alignment",
					"options": [
						{"label": "Left", "value": "text-left"},
						{"label": "Center", "value": "text-center"},
						{"label": "Right", "value": "text-right"}
					],
					"default": "text-left"
				},
				{
					"type": "select",
					"id": "content_position",
					"label": "Position",
					"options": [
						{"group": "Top", "label": "Top Left", "value": "align-items-start"},
						{"group": "Top", "label": "Top Center",	"value": "align-items-start justify-content-center"},
						{"group": "Top", "label": "Top Right", "value": "align-items-start justify-content-end"},
						{"group": "Middle",	"label": "Middle Left",	"value": "align-items-center"},
						{"group": "Middle",	"label": "Middle Center", "value": "align-items-center justify-content-center"},
						{"group": "Middle",	"label": "Middle Right", "value": "align-items-center justify-content-end"},
						{"group": "Bottom",	"label": "Bottom Left",	"value": "align-items-end"},
						{"group": "Bottom",	"label": "Bottom Center", "value": "align-items-end justify-content-center"},
						{"group": "Bottom",	"label": "Bottom Right", "value": "align-items-end justify-content-end"}
					],
					"default": "align-items-center"
				}

			]
		},
    {
			"type": "heading",
			"name": "Heading",
			"settings": []
    }
     ],
    "presets": [
      {
        "name": "Image Banner",
        "blocks": [
          {"type": "image"}
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

