{{ 'component-marquee.css' | asset_url | stylesheet_tag }}
{% comment %} section dependencies {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>


{%- liquid
    assign container = section.settings.container
    assign remove_container_space = section.settings.remove_container_space
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{%- endstyle -%}
<section class="middle section-{{ section.id }}-padding" id="section_{{ section.id }}">
	<div class="marquee-section {{ container }} {%if remove_container_space != false %} p-0 {% endif %}">
        <div class="marquee_section_wrapper row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 center">
                <div class="slick_marquee_wrapper">
                {% for block in section.blocks %}
                    <div>{{block.settings.text}}</div>
                {% endfor %}
                </div>
            </div>
        </div>
	</div>
  </section>

<style>
.marquee_section_wrapper{
    padding: 20px 0;
    background: {{section.settings.section_background}};
}
</style>

<script>
  $("#section_{{ section.id }} .slick_marquee_wrapper").slick({
    speed: 2000,
	autoplay: true,
	autoplaySpeed: 0,
	cssEase: 'linear',
    slidesToShow: 6,
  	slidesToScroll: 1,
    // infinite: true,
    swipeToSlide: true,
  	centerMode: true,
    focusOnSelect: true,
    arrows:false,
    pauseOnHover:false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 2,
        }
      }
   ]
});
</script>
{% schema %}
  {
    "name": "Marquee Section",
    "class": "marquee-section",
    "settings": [
        {
        "type": "select",
        "id": "container",
        "label": "Section Width",
        "options": [
            {"label": "Default", "value": "container"},
            {"label": "Full wide", "value": "container-fluid"}
        ],
        "default": "container"
    },
    {
        "type": "color",
        "id": "section_background",
        "label": "Section Background",
        "default": "#FFFF00"
    },
    {
        "type": "checkbox",
        "id": "remove_container_space",
        "label": "Remove Container Space",
        "default": false
    },
        {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
          "type": "header",
          "content": "Top Bottom Padding (Mobile)"
        }, {
          "type": "range",
          "id": "padding_top_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 30
        }, {
          "type": "range",
          "id": "padding_bottom_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 30
        }
    ],
    "blocks":[
        {
            "type": "text",
            "name": "Text",
            "limit": 7,
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Marquee Text",
                    "default": "Viales"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Marquee Section",
        "blocks": [
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            }
        ]
      }
  ] 
  }
{% endschema %}