{{ 'component-marquee.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign container = section.settings.container
    assign remove_container_space = section.settings.remove_container_space
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{%- endstyle -%}
<section class="middle section-{{ section.id }}-padding" id="section_{{ section.id }}">
	<div class="marquee-section {{ container }} {%if remove_container_space != false %} p-0 {% endif %}">
        <div class="marquee_section_wrapper row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 center">
                {%- if section.settings.marqueenable != false  -%}



                    {%- liquid
                        assign bg_color = section.settings.bg_color
                        assign content_color = section.settings.content_color
                        assign marquee_duration = section.settings.marquee_duration 
                        assign marquee_direction = section.settings.marquee_direction 
                        assign space_top = section.settings.space_top 
                        assign space_bottom = section.settings.space_bottom 
                        
                    -%}
                    {% if section.settings.custom_color_enabled %}
                        {% style %}
                        .marque-wrapper{
                            background-color: {{ bg_color }};
                            padding-top:{{space_top}};
                            padding-bottom:{{space_bottom}};
                        }
                        .marquee-content p, .marquee-content{
                            color: {{ content_color }};
                        }

                        {% endstyle %}
                        
                        {% endif %}

                  <div class="marque-wrapper">
                    <div class="marquee-content marquee {{marquee_direction}}" data-direction='{{ marquee_direction }}' data-duration='{{ marquee_duration | times: 1000 }}'>
                      {%- for block in section.blocks -%}
                          {%- case block.type -%}
                            {%- when 'text' -%}
                              {%if block.settings.text != blank %}
                            <div class="Marquee-tag" {{ block.shopify_attributes }}>
                                {{ block.settings.text }}
                              </div>
                            {% endif %}
                           {%- endcase -%}
                          {%- endfor -%} 
                  </div>
                </div>
                {%- endif -%}
            </div>
        </div>
	</div>
  </section>

<style>
.marquee_section_wrapper{
    padding: 20px 0;
    background: {{section.settings.section_background}};
}
.Marquee-tag {
    font-size: 26px;
    font-weight: bold;
}
.marquee-content .js-marquee{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
</style>
{% schema %}
  {
    "name": "Marquee Section",
    "class": "marquee-section",
    "settings": [
      {
          "type": "checkbox",
          "id": "marqueenable",
          "label": "Marque Enable",
          "default": true
      },
      {
          "type": "select",
          "id": "marquee_direction",
          "label": "Direction",
          "options": [
              {"label": "Left To Right", "value": "left"},
              {"label": "Right To Left", "value": "right"}
          ],
          "default": "left"
      },
      {
          "type": "range",
          "id": "marquee_duration",
          "label": "Marquee Speed",
          "default": 15,
          "min": 5,
          "max": 100,
          "step": 5
        },   
      {
          "type": "header",
          "content": "Color"
      },
      {
          "type": "checkbox",
          "id": "custom_color_enabled",
          "label": "Enable Custom Settings",
          "default": false
        },
        {
        "type": "select",
        "id": "container",
        "label": "Section Width",
        "options": [
            {"label": "Default", "value": "container"},
            {"label": "Full wide", "value": "container-fluid"}
        ],
        "default": "container"
    },
    {
        "type": "color",
        "id": "section_background",
        "label": "Section Background",
        "default": "#FFFF00"
    },
    {
        "type": "checkbox",
        "id": "remove_container_space",
        "label": "Remove Container Space",
        "default": false
    },
        {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
          "type": "header",
          "content": "Top Bottom Padding (Mobile)"
        }, {
          "type": "range",
          "id": "padding_top_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 30
        }, {
          "type": "range",
          "id": "padding_bottom_m",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 30
        }
    ],
    "blocks":[
        {
            "type": "text",
            "name": "Text",
            "limit": 7,
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Marquee Text",
                    "default": "Viales"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Marquee Section",
        "blocks": [
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            },
            {
                "type": "text"
            }
        ]
      }
  ] 
  }
{% endschema %}