{%- if section.settings.marqueenable != false  -%}



    {%- liquid
        assign bg_color = section.settings.bg_color
        assign content_color = section.settings.content_color
        assign marquee_duration = section.settings.marquee_duration 
        assign marquee_direction = section.settings.marquee_direction 
        assign space_top = section.settings.space_top 
        assign space_bottom = section.settings.space_bottom 
        
    -%}
    {% if section.settings.custom_color_enabled %}
        {% style %}
        .marque-wrapper{
            background-color: {{ bg_color }};
            padding-top:{{space_top}};
            padding-bottom:{{space_bottom}};
        }
        .marquee-content p, .marquee-content{
            color: {{ content_color }};
        }

        {% endstyle %}
        
        {% endif %}


   <div class="marque-wrapper">
    <div class="marquee-content marquee {{marquee_direction}}" data-direction='{{ marquee_direction }}' data-duration='{{ marquee_duration | times: 1000 }}'>
      {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'marquetext' -%}
              {%if block.settings.svg_icon != blank and block.settings.marque_heading != blank %}
             <div class="Marquee-tag" {{ block.shopify_attributes }}>
               <span class="marquee-icon">{{ block.settings.svg_icon }}</span>
                {{ block.settings.marque_heading }}
              </div>
            {% endif %}
  
     {%- endcase -%}
          {%- endfor -%} 
  
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Marquee Text",
  "settings": [
      {
          "type": "checkbox",
          "id": "marqueenable",
          "label": "Marque Enable",
          "default": true
      },
      {
          "type": "select",
          "id": "marquee_direction",
          "label": "Direction",
          "options": [
              {"label": "Left To Right", "value": "left"},
              {"label": "Right To Left", "value": "right"}
          ],
          "default": "left"
      },
      {
          "type": "range",
          "id": "marquee_duration",
          "label": "Marquee Speed",
          "default": 15,
          "min": 5,
          "max": 100,
          "step": 5
        },   
      {
          "type": "header",
          "content": "Color"
      },
      {
          "type": "checkbox",
          "id": "custom_color_enabled",
          "label": "Enable Custom Settings",
          "default": false
        },

        {
            "type": "range",
            "id": "space_top",
            "label": "Padding Top",
            "default": 15,
            "min": 5,
            "max": 100,
            "step": 5
          },  
          {
            "type": "range",
            "id": "space_bottom",
            "label": "Padding Bottom",
            "default": 15,
            "min": 5,
            "max": 100,
            "step": 5
          },  
        
      {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#000"
      },
      {
          "type": "color",
          "id": "content_color",
          "label": "Content",
          "default": "#fff"
      }
  ],
  "blocks": [
      {
          "type": "marquetext",
          "name": "Marque Text",
          "settings": [
              {
                  "type": "liquid",
                  "id": "svg_icon",
                  "label": "Svg Icon OR Text Icon",
                  "default": "<i class='ti-shopping-cart'></i>",
                   "info":"[Visit For Icons ](https:\/\/themify.me\/themify-icons)"
              },
              {
                  "type": "text",
                  "id": "marque_heading",
                  "label": "Heading",
                  "default": "Free Delivery and Returnes From $30"
              }
          ]
      }
  ],
  "presets": [
    {
        "name": "Marquee Text",
        "blocks": [
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            },
            {
                "type": "marquetext"
            }
      
        ]
    }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}